<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Project Submission of Group 7</title>
</head>
<body>
<h2>Final visualization website: <a href="http://8.218.186.230:8080/#/">http://8.218.186.230:8080/#/</a></h2>
<h2>Github repository-web client: <a href="https://github.com/tian-yu-moker/visualization-web-pages">https://github.com/tian-yu-moker/visualization-web-pages</a></h2>
<h2>Github repository-API sever: <a href="https://github.com/shituweian/ visualization_back_end">https://github.com/shituweian/ visualization_back_end</a></h2>
<h2>Readme file: <a href="https://github.com/tian-yu-moker/visualization-web-pages/blob/master/README.md">https://github.com/tian-yu-moker/visualization-web-pages/blob/master/README.md</a></h2>
<h2>Demo video: <a href="https://github.com/tian-yu-moker/visualization-web-pages/blob/master/README.md">https://github.com/tian-yu-moker/visualization-web-pages/blob/master/README.md</a></h2>
<h2>Project report: <a href="https://github.com/tian-yu-moker/visualization-web-pages/blob/master/README.md">https://github.com/tian-yu-moker/visualization-web-pages/blob/master/README.md</a></h2>
</body>
</html>
